    <!-- About-->
    <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sobre Mim</h2>
            <h3 class="section-subheading text-muted">
                Me conheça mais um pouco!
                </h3>
        </div>

        <div class="row text-center">
            <div class="col-md-5">
                <h3>Quem sou eu?</h3>
                <p class="text-muted">
                    Atualmente estou cursando meu Bacharelado em Ciências da Computação na <a href="https://cppp.ufms.br/">UFMS, campus de Ponta Porã</a>. <br>
                    No meu tempo livre gosto de aprender mais sobre novas tecnologias; creio que na área de tecnologia é muito importante estar atualizado,
                    melhorar minhas habilidades no. <br>
                    Gosto muito de ensinar sobre tópicos dos quais tenho conhecimento, já realizei alguns minicursos na universidade...
                </p>
            </div>
            <div class="col-md-7">
                <h3>Áreas de Interesse</h3>
                <p class="text-muted">
                    Tenho bastante interesse em pesquisa científica, já desenvolvi alguns artigos onde dois foram aceitos em conferencias...

                    Inteligencia Artificial, Deep Learning, Banco de Dados, Analise de Dados, Backend
                </p>          
                
            </div>
        </div>        
        
    </div>
</section>