    <!-- About-->
    <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sobre Mim</h2>
            <h3 class="section-subheading text-muted">
                Me conheça mais um pouco!
                </h3>
        </div>

        <div class="row text-center">
            <div class="col-md-6 text-left">
                <h3>Quem sou eu?</h3>
                <p class="text-dark">

                    Atualmente sou graduando de Ciências da Computação  <a href="https://cppp.ufms.br/">@UFMS/CPPP</a>. Tenho muito interesse em pesquisa científica,
                    na universidade sou pesquisador e bolsista no <a href="http://pet.nerdsdafronteira.com/">PET-Fronteira</a>, que
                    é um projeto de ensino, pesquisa e extensão, e pesquisador voluntário no <a href="http://gira.nerdsdafronteira.com/">GIRA-Fronteira</a>, que é um projeto de extensão.
                    Na minha carreira universitária, eu e meus colegas, junto do meu orientador, conseguimos duas aprovações de artigos,
                    uma no <a href="http://cleilaclo2018.mackenzie.br/pt/laclo-2018.html">LACLO 2018</a> e outra
                    no <a href="https://cbie2018.virtual.ufc.br/">CBIE 2018</a>.

                    <br>
                    Também já ministrei minicursos em alguns eventos da universidade e de parceiros, como o <a href="https://www.ifms.edu.br/campi/campus-ponta-pora">IFMS/CPPP</a>.
                    Nesses minucursos, eu ensinei os participantes a como trabalhar com o <i>Git</i> e <i>GitHub</i> e também com a ferramenta de composição de texto, <i>LaTeX</i>,
                    muito famosa no meio acadêmico para produção de textos.
                    
                    <!-- Estou realizando uma <b>Iniciação Científica</b> -->

                    <!-- Gosto muito de interagir e fomentar habilidades como liderança e oratória... -->

                    <!-- No meu tempo livre gosto de aprender mais sobre novas tecnologias; creio que na área de tecnologia é muito importante estar atualizado, -->
                    <!-- melhorar minhas habilidades no. <br> -->
                    <!-- Gosto muito de ensinar sobre tópicos dos quais tenho conhecimento, já realizei alguns minicursos na universidade... -->
                </p>
            </div>
            <div class="col-md-6 text-left">
                <h3>Áreas de Interesse</h3>
                <p class="text-dark">
                    Tenho muito interesse em Inteligência Artificial, Deep Learning, Machine Learning, Data Science, Banco de Dados, Análise de Dados e Back-end.
                    De modo geral, gosto de trabalhar com dados e extrair algo útil dos mesmos. <br>

                    Estou desenvolvendo uma Iniciação Científica junto do meu orientador, onde, como produto final, é esperado um modelo capaz de realizar a classificação 
                    de bovinos infectados com os parasitas "Mosca-dos-chifres". Para isso, estou estudando métodos conhecidos como CNN e SVM. Assim que obtiver
                    algum fruto deste projeto, irei postar aqui. Minha intenção é, após o desenvolvimento do mesmo, disponibilizar uma API pública
                    para o consumo da mesma, para realizar testes de classificações, e também um modelo gráfico, onde ficará disponivel na seção de <a href="#projects" class="js-scroll-trigger">Projetos</a>.
                </p>          
                
            </div>
        </div>        
        
    </div>
</section>