<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portfólio</h2>
            <h3 class="section-subheading text-muted">Principais repositórios do meu GitHub. <a class="" href="https://www.github.com/danbailo"><i class="fab fa-github fa-lg"></i></a> </h3>
         
            <h3 class="section-subheading text-dark">
                Desenvolvi um <i>Scraper</i> para coletar as informações dos repositórios fixados do meu perfil no GitHub.
                A ideia é que, como portfolio, seja apresentado meus principais projetos, visto que a plataforma só permite fixar seis repositórios no perfil.
                O script pode ser visto <a href="https://gist.github.com/danbailo/a693b6bfe18417611f8e41a5df7831f1">aqui</a>.
            </h3>
        </div>

        {% set json = "../docs/pinned_repos.json"|render_json %}
        {% set github = "https://github.com" %}
        
        <div class="row">

            {% for repo in json %}
                <div class="col-lg-6 col-sm-6 ">
                    <div class="portfolio-item">                        
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading mb-1">{{ repo }}</div>
                            <!-- <div class="portfolio-caption-subheading text-dark"></div> -->
                            <p>{{ json[repo]["description_repo"] }}</p>
                            <div class="portfolio-caption-subheading text-muted">
                                Predominância: {{ json[repo]["predominant_lang"] }}
                            </div>
                            <a class="portfolio-link" data-toggle="modal" href='{{ github + json[repo]["link_repo"] }}'>Link do repositório</a>
                        </div>
                    </div>
                </div>

            {% endfor %}                


        </div>
    </div>
</section>