<!-- Services-->
<section class="page-section" id="projects">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Projetos</h2>
            <h3 class="section-subheading text-muted">
                Desenvolvendo e aprendendo!
            </h3>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-laptop fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Desenvolvimentos</h4>
                
                <p class="text-alert">Seção em desenvolvimento!</p>

                <p class="text-muted">
                    
                    Nesta seção você poderá testar alguns dos meus projetos, para isso basta acessar esse <a href="#page-top" class="js-scroll-trigger">link</a> para
                    você ser redirecionado a uma página que contém algumas aplicações web que desenvolvi. Para isso voce precisará criar uma conta e realizar um login,
                    sei que isso é chato, mas não se aborreça, isso também faz parte dos meus projetos. E então você poderá avaliar, comentar e mandar um feedback sobre o que está achando
                    da experiência!
                    

                </p>
            </div>
        </div>
    </div>
</section>