<!-- Services-->
<section class="page-section" id="skills">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Habilidades</h2>
            <h3 class="section-subheading text-muted">
                Entusiasta de Python em busca de conhecimento!
            </h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-laptop fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Estudos</h4>
                <p class="text-dark">
                    Gosto muito de aprender novas tecnologias e enfrentar desafios, principalmente relacionados nas áreas que tenho interesse.
                    Tenho muito apreço por estudar ferramentas que posso utilizar junto do Python, me sinto muito confortável em programar com essa
                    linguagem de programação e consigo desenvolver coisas incríveis com ela! Porém, se preciso, tenho habilidade de me adaptar rapidamente em novas linguagens.
                </p>
                <h5 class="my-3">Tópicos de Interesse</h5>
                <p class="text-dark">
                    Inteligência Artificial <br>
                    Algoritmos e Programação <br>
                    Estruturas de Dados <br>
                    Desafios de Programação <br>
                    Complexidade de Algoritmos <br>
                    Teoria dos Grafos <br>
                </p>                  
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-python fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Programação</h4>
                <p class="text-dark">
                    Gosto bastante de programar, tenho conhecimentos em linguagens de programação e marcação. Mas a que eu mais
                    utilizo, é o Python. Com este, consigo desenvolver programas desktop e web.

                    Este portfólio é um exemplo do uso dessa tecnologia, estou utilizando um framework chamado <i>Flask</i> no back-end,
                    e HTML, CSS e Javascript, porém, por meio de um framework chamado <i>Bootstrap</i>. Não tenho muito conhecimento em linguagens de programação
                    front-end, como Javascript, o motivo de não tê-lo estudado, é que não gosto de trabalhar no front-end.

                    <!-- Gosto muito de utilizar Python para realizar meus projetos, consigo ótimos resultados com ele, por ser uma linguagem de programação muito dinâmina. -->
                    <!-- Atualmente, esta é uma das linguagens mais utilizadas no mundo, principalmente por profissionais da área de IA. -->
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="my-3">Linguagens</h5>
                            <p class="text-dark">
                                Python <br>
                                Java <br>
                                C/C++ <br>
                                HTML/CSS <br>
                                Javascript <br>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="my-3">Ferramentas</h5>
                            <p class="text-dark">
                                Flask <br>
                                Git <br>
                                GitHub <br>
                                Bootstrap <br>
                                VSCode <br>
                            </p>
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-database fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Manipulação de Dados</h4>
                <p class="text-dark">
                    Também gosto bastante de manipular dados, seja este nas suas diversas formas, desde a coleta em documentos até a inserção no banco de dados.
                    
                    Meu primeiro contato com o "mercado de trabalho", foi realizar trabalhos como Freelancer na plataforma <a href="https://www.workana.com/freelancer/bbc2ceba9eb1526688aa560766d6af77">Workana</a>.
                    Com isso, tive a necessidade de ampliar meus conhecimentos com a forma de tratar os dados. A maioria dos trabalhos que eu fiz foi realionado a <i>Scraping & Crawling</i>, ou seja, coleta de dados.

                </p>
            </div>
        </div>
    </div>
</section>