<!-- Services-->
<section class="page-section" id="skills">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Habilidades</h2>
            <h3 class="section-subheading text-muted">
                Entusiasta de Python em busca de conhecimento!
            </h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-laptop fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Estudos</h4>
                <p class="text-muted">Gosto muito de programar e enfrentar novos desafios, com isso consigo aprender ainda mais.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-python fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Programação</h4>
                <p class="text-muted">
                    Gosto muito de utilizar Python para realizar meus projetos, consigo ótimos resultados com ele, por ser uma linguagem de programação muito dinâmina.
                    Atualmente, esta é uma das linguagens mais utilizadas no mundo, principalmente por profissionais da área de IA.

                    
                </p>
                <h5 class="my-3">Ferramentas</h5>
                <p class="text-muted">
                    Python <br>
                </p>                
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-database fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">Manipulação de Dados</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>