<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left"><a href="#top" class="js-scroll-trigger"></a></div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-social mx-2" href="https://www.github.com/danbailo"><i class="fab fa-github fa-lg"></i></a>
                <a class="btn btn-social mx-2" href="https://www.fb.com/danbailo1"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a class="btn btn-social mx-2" href="https://www.instagram.com/danbailo1/"><i class="fab fa-instagram fa-lg"></i></a>
                <a class="btn btn-social mx-2" href="http://lattes.cnpq.br/5081335151436553"><img src="{{ url_for('static', filename='assets/img/lattes-black.svg') }}" style="width: 60%;"></a>
            </div>
            <div class="col-lg-4 text-lg-right"><a href="#page-top" class="js-scroll-trigger">Voltar ao início</a></div>
        </div>
    </div>
</footer>